# Loading Our Trained Star Classifier model to Test on a new Dataset to Predict    Star Types

## Importing essential modules

In [1]:
import tensorflow as tf
import numpy as np
from sklearn import preprocessing, model_selection
import pandas as pd

## Loading new dataset from a new CSV file

In [2]:
test_data = pd.read_csv('test_model_dataset.csv')
test_data.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star Type
0,3576,124000.00000,44.0000,-6.79,4
1,3691,0.00366,0.4700,10.80,1
2,9710,73.00000,2.8900,0.16,3
3,7800,0.00011,0.0128,14.47,2
4,3650,363000.00000,1673.0000,-11.92,5

## Seperating the "Star Type" Column from the dataset

In [3]:
a = test_data.drop(['Star Type'],1)
a.head()

   Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0             3576      124000.00000       44.0000                   -6.79
1             3691           0.00366        0.4700                   10.80
2             9710          73.00000        2.8900                    0.16
3             7800           0.00011        0.0128                   14.47
4             3650      363000.00000     1673.0000                  -11.92

## Showing the star Type Column seperately

In [4]:
b = test_data['Star Type']
b.head()

0    4
1    1
2    3
3    2
4    5
Name: Star Type, dtype: int64

## Converting dataset into numpy arrays

In [5]:
x1 = np.array(a,dtype = 'float')
y1 = np.array(b)
y1.shape = (len(y1),1)

## Scaling The input values for better accuracy

In [6]:
x2 = preprocessing.scale(x1)

## Loading in our Trained Model to predict the star type of new dataset

In [7]:
model = tf.keras.models.load_model("Star_classifier.model")

WARNING:tensorflow:From C:\Users\User1\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling GlorotUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\User1\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\User1\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

## The Outputs to expect for each Star Type

In [8]:
# [1,0,0,0,0,0] = Brown Dwarf
# [0,1,0,0,0,0] = Red Dwarf
# [0,0,1,0,0,0] = White Dwarf
# [0,0,0,1,0,0] = Main Sequence
# [0,0,0,0,1,0] = Supergiant
# [0,0,0,0,0,1] = Hypergiant

arr = np.array([[1,0,0,0,0,0],[0,1,0,0,0,0],[0,0,1,0,0,0],[0,0,0,1,0,0],[0,0,0,0,1,0],[0,0,0,0,0,1]])

categories = ["Brown Dwarf","Red Dwarf","White Dwarf","Main Sequence","Supergiant","Hypergiant"]

## Running Trained Model to predict star type of new dataset

In [9]:
d_pred = np.round(model.predict(x2))

# Predictions:
print('{}'.format(d_pred[0]))

[0. 0. 0. 0. 1. 0.]

## Showing the Star-Type

In [10]:
print(categories[np.argmax(d_pred[0])])

Supergiant

## Showing Predictions with Star Type all at once

In [11]:

print("     Prediction      : P-Class  : O-Class")

for i in range(0,len(d_pred)):
    if np.array_equal(d_pred[i],arr[0]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],0,y1[i],categories[np.argmax(d_pred[i])]))
      
    elif np.array_equal(d_pred[i],arr[1]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],1,y1[i],categories[np.argmax(d_pred[i])]))
       
    elif np.array_equal(d_pred[i],arr[2]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],2,y1[i],categories[np.argmax(d_pred[i])]))
          
    elif np.array_equal(d_pred[i],arr[3]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],3,y1[i],categories[np.argmax(d_pred[i])]))
         
    elif np.array_equal(d_pred[i],arr[4]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],4,y1[i],categories[np.argmax(d_pred[i])]))
      
    elif np.array_equal(d_pred[i],arr[5]):
        print("{}  :  {} :  {} : {}".format(d_pred[i],5,y1[i],categories[np.argmax(d_pred[i])]))

     Prediction      : P-Class  : O-Class
[0. 0. 0. 0. 1. 0.]  :  4 :  [4] : Supergiant
[0. 1. 0. 0. 0. 0.]  :  1 :  [1] : Red Dwarf
[0. 0. 0. 1. 0. 0.]  :  3 :  [3] : Main Sequence
[0. 0. 1. 0. 0. 0.]  :  2 :  [2] : White Dwarf
[0. 0. 0. 0. 0. 1.]  :  5 :  [5] : Hypergiant
[1. 0. 0. 0. 0. 0.]  :  0 :  [0] : Brown Dwarf

In [12]:
# Thus it predicted the star types of future dataset of stars with high accuracy and our model is lit :)