# Exoplanet Classification Using Deep Neural Networks

## -- Neccessary modules

In [9]:
import tensorflow as tf 
from tensorflow import keras
from sklearn import preprocessing, model_selection
import numpy as np 
import pandas as pd

## Loading Dataset from CSV (exoTrain.csv)

In [10]:
df = pd.read_csv('C:\\Users\\User1\\Desktop\\Exoplanet stars classifier\\exoTrain.csv')

In [11]:
df.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,1,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,1,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,1,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,1,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,1,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

## -- Converting Data into Numpy Arrays ( For Sake of Convenience)

In [12]:
x_train = np.array(df.drop(['LABEL'],1))
y_train = np.array(df['LABEL'], dtype ='float')
y_train.shape = (len(y_train),1)

## -- Scaling Data for Better Modelling (Only x values)

In [13]:
x_f_train = preprocessing.scale(x_train)
y_f_train = y_train

## -- Using DNN Model for Training Data

In [14]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(200,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(300,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2,activation = tf.nn.softmax))


model.compile(optimizer = tf.train.AdamOptimizer(),
       loss = 'sparse_categorical_crossentropy',
       metrics=['accuracy'])

## -- Fitting Data into Model

In [15]:
model.fit(x_f_train ,y_f_train , epochs = 30)

Epoch 1/30
5087/5087 [==============================] - 1s 200us/sample - loss: 0.0822 - acc: 0.9872
Epoch 2/30
5087/5087 [==============================] - 1s 201us/sample - loss: 0.0496 - acc: 0.9927
Epoch 3/30
5087/5087 [==============================] - 1s 202us/sample - loss: 0.0424 - acc: 0.9927
Epoch 4/30
5087/5087 [==============================] - 1s 177us/sample - loss: 0.0421 - acc: 0.9925s - loss: 0.070
Epoch 5/30
5087/5087 [==============================] - 1s 167us/sample - loss: 0.0360 - acc: 0.9931
Epoch 6/30
5087/5087 [==============================] - 1s 184us/sample - loss: 0.0345 - acc: 0.9935
Epoch 7/30
5087/5087 [==============================] - 1s 163us/sample - loss: 0.0346 - acc: 0.9937s - loss: 0.0340 - acc: 0
Epoch 8/30
5087/5087 [==============================] - 1s 183us/sample - loss: 0.0319 - acc: 0.9941
Epoch 9/30
5087/5087 [==============================] - 1s 179us/sample - loss: 0.0314 - acc: 0.9941s - loss: 0.0309 - acc: 0.99
Epoch 10/30
5087/5087 [==============================] - 1s 178us/sample - loss: 0.0283 - acc: 0.9949
Epoch 11/30
5087/5087 [==============================] - 1s 182us/sample - loss: 0.0308 - acc: 0.9941s - loss: 0.036
Epoch 12/30
5087/5087 [==============================] - 1s 178us/sample - loss: 0.0287 - acc: 0.9949
Epoch 13/30
5087/5087 [==============================] - 1s 170us/sample - loss: 0.0262 - acc: 0.9955s - loss: 0.0279 - acc: 0
Epoch 14/30
5087/5087 [==============================] - 1s 176us/sample - loss: 0.0236 - acc: 0.9957s - loss: 0.0297 - acc:
Epoch 15/30
5087/5087 [==============================] - 1s 186us/sample - loss: 0.0273 - acc: 0.9955s - loss: 0.0311 - a
Epoch 16/30
5087/5087 [==============================] - 1s 177us/sample - loss: 0.0224 - acc: 0.9961
Epoch 17/30
5087/5087 [==============================] - 1s 182us/sample - loss: 0.0259 - acc: 0.9957
Epoch 18/30
5087/5087 [==============================] - 2s 487us/sample - loss: 0.0250 - acc: 0.9955
Epoch 19/30
5087/5087 [==============================] - 1s 184us/sample - loss: 0.0252 - acc: 0.9959s - loss: 0.0266 - acc:
Epoch 20/30
5087/5087 [==============================] - 1s 174us/sample - loss: 0.0235 - acc: 0.9965
Epoch 21/30
5087/5087 [==============================] - 1s 180us/sample - loss: 0.0225 - acc: 0.9965s - loss: 0.0199 - acc:
Epoch 22/30
5087/5087 [==============================] - 1s 175us/sample - loss: 0.0238 - acc: 0.9955
Epoch 23/30
5087/5087 [==============================] - 1s 172us/sample - loss: 0.0216 - acc: 0.9959
Epoch 24/30
5087/5087 [==============================] - 1s 179us/sample - loss: 0.0222 - acc: 0.9965s - loss: 0.05
Epoch 25/30
5087/5087 [==============================] - ETA: 0s - loss: 0.0201 - acc: 0.996 - 1s 175us/sample - loss: 0.0203 - acc: 0.9963
Epoch 26/30
5087/5087 [==============================] - 1s 172us/sample - loss: 0.0193 - acc: 0.9959
Epoch 27/30
5087/5087 [==============================] - 1s 186us/sample - loss: 0.0224 - acc: 0.9961
Epoch 28/30
5087/5087 [==============================] - ETA: 0s - loss: 0.0230 - acc: 0.9949- ETA: 0s - loss: 0.0250 - acc: 0. - 1s 177us/sample - loss: 0.0222 - acc: 0.9951
Epoch 29/30
5087/5087 [==============================] - 1s 170us/sample - loss: 0.0184 - acc: 0.9957
Epoch 30/30
5087/5087 [==============================] - 1s 175us/sample - loss: 0.0183 - acc: 0.9965

## Loading Testing Dataset (from exoTest.csv)

In [16]:
df2 = pd.read_csv('C:\\Users\\User1\\Desktop\\Exoplanet stars classifier\\exoTest.csv')

In [17]:
df2.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,1,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,14.52,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72
1,1,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-581.91,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72
2,1,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,17.82,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63
3,1,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,122.34,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41
4,1,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-37.87,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84

## -- Converting Data into Numpy Arrays

In [20]:
x_test = np.array(df2.drop(['LABEL'],1))
y_test = np.array(df2['LABEL'], dtype ='float')
y_test.shape = (len(y_test),1)

## -- Scaling Data for Better Modelling (Only x values)

In [21]:
x_f_test = preprocessing.scale(x_test)
y_f_test = y_test

## -- Checking Trained Data For Overfitting and Underfitting over tested data

In [22]:
val_loss,val_acc = model.evaluate(x_f_test,y_f_test)
print("Loss % = {} , Accuracy % = {} ".format(val_loss*100,val_acc*100))

570/570 [==============================] - 0s 156us/sample - loss: 0.3017 - acc: 0.9877
Loss % = 30.174284523777793 , Accuracy % = 98.77192974090576

## -- Predicting Star Type of Test Data from Trained Data

In [23]:
# [1,0] -> Normal star   
# [0,1] -> Exoplanet star system

arr = np.array([[1,0],[0,1]])

In [25]:
z = np.round(model.predict(x_f_test))

print('_____________________________________________________')
#print("Prediction : P-Class : O-Class ")

c1=c2=c3=c4=0

for i in range(0,len(z)):
    if np.array_equal(z[i],arr[0]):
        #print("{} : {} : {}".format(z[i],0,y_test[i]))
        c1+=1
    else:
        #print("{} : {} : {}".format(z[i],1,y_test[i]))
        c2+=1        


print('_____________________________________________________')
print("Predicted No of Normal Stars  = {}".format(c1))
print("Predicted NO. of Exoplanet stars = {}".format(c2))
print("Total tested stars = {}".format(len(z)))

m = y_f_test

print('_____________________________________________________')

for i in range(0,len(m)):
    if m[i] == 0:
        c3+=1
    else :
        c4+=1 
   

print("Original No of Normal Stars  = {}".format(c3))
print("Original No. of Exoplanet stars = {}".format(c4))
print("Total tested stars = {}".format(len(y_f_test)))

print('_____________________________________________________')
print('Accuracy = {}%'.format((val_acc)*100))

_____________________________________________________
_____________________________________________________
Predicted No of Normal Stars  = 568
Predicted NO. of Exoplanet stars = 2
Total tested stars = 570
_____________________________________________________
Original No of Normal Stars  = 565
Original No. of Exoplanet stars = 5
Total tested stars = 570
_____________________________________________________
Accuracy = 98.77192974090576%

## Saving Trained data in a pickle for future use

In [26]:
import pickle

data = np.hstack((x_f_train,y_f_train))    # Merging the label column (y_test) with the X_test  i.e the total training set

with open("exoplanet_model.pickle","wb") as f:
    pickle.dump( data , f)